In [75]:
import pandas as pd
import statsmodels.formula.api as smf
import statsmodels.api as sm
import numpy as np

In [195]:
out_df = pd.DataFrame(columns=['Year', 'Total', 'ModFIPS'])

In [210]:
pop = pd.read_csv('population.csv',sep=',', dtype={'Id2': 'object'})
grouped = pop.groupby('Id2')

In [231]:
for county, group in grouped:
    ada = grouped.get_group(county)
    data = ada[['Year', 'Total']].dropna().astype('float')
    if data.index.size == 0:
        print('missing data: ' + county)
        continue
    model = smf.ols(formula="Total ~ Year", data=data)
    result = model.fit()
    future_years = pd.DataFrame(np.arange(2016,2026).astype('float'), columns=['Year'])
    sm.add_constant(future_years)
    new_data = pd.DataFrame({ 'Total': result.predict(future_years), 'Year': future_years['Year'],
               'ModFIPS': np.repeat(county, 10)  })
    existing_data = pd.DataFrame({'Total': data['Total'], 'Year': data['Year'],
                              'ModFIPS': np.repeat(county, data['Year'].size)})
    out_df = out_df.append(existing_data)
    out_df = out_df.append(new_data)

missing data: Id2

In [232]:
out_df['Year'] = out_df['Year'].astype('int')
out_df.to_csv('predicted_population.csv', columns=['Total','Year','ModFIPS'], index=False)
predicted_population = out_df

In [190]:
water = pd.read_csv('water.csv',sep=',', dtype={'ModFIPS': 'object', 'FIPS': 'int'})

In [177]:
grouped = water.groupby('FIPS')
out_df = pd.DataFrame(columns=['Water', 'Year', 'FIPS'])
missing = 0
for county, ada in grouped:
    ada = grouped.get_group(county)
    data = ada[['YEAR', 'TO-WTotl']].dropna().astype('float')
    data.columns = ['Year', 'Water']
    model = smf.ols(formula="Water ~ Year", data=data)
    result = model.fit()
    future_years = pd.DataFrame(np.arange(2016,2026).astype('float'), columns=['Year'])
    sm.add_constant(future_years)
    new_data = pd.DataFrame({ 'Water': result.predict(future_years), 'Year': future_years['Year'],
           'FIPS': np.repeat(county.astype('int'), 10)  })
    w = np.array(data['Water'])
    y = np.array(data['Year'])
    nan = np.nan
    if w.size != 3:
        missing = missing + 1
        continue
        
    existing_data = pd.DataFrame({
        'Water': [w[0], nan, nan, nan, nan, w[1], nan, nan, nan, nan, w[2]] },
                             index=[y[0], 2001, 2002, 2003, 2004, y[1], 2006, 2007, 2008, 2009, y[2]])
    existing_data = existing_data.interpolate(method='index')
    existing_data = pd.DataFrame({ 'Water': existing_data['Water'], 'Year': existing_data.index,
                             'FIPS': np.repeat(county.astype('int'), 11) })
    out_df = out_df.append(existing_data)
    out_df = out_df.append(new_data)

In [182]:
out_df['FIPS'] = out_df['FIPS'].astype('int')
out_df['Year'] = out_df['Year'].astype('int')

In [193]:
mod_fips = pd.DataFrame({'FIPS': water['FIPS'], 'ModFIPS': water['ModFIPS']})
out_with_mod_fips = out_df.join(mod_fips.set_index('FIPS'), on='FIPS')

In [194]:
out_with_mod_fips.to_csv('predicted_water.csv', columns=['Water','Year','FIPS', 'ModFIPS'], index=False)

       ModFIPS          Total  Year     FIPS       Water
0        01003  160354.000000  2005   1003.0   69.010000
1        01003  160354.000000  2005   1003.0   69.010000
2        01003  160354.000000  2005   1003.0   69.010000
3        01003  169162.000000  2006   1003.0   68.080000
4        01003  169162.000000  2006   1003.0   68.080000
5        01003  169162.000000  2006   1003.0   68.080000
6        01003  171769.000000  2007   1003.0   67.150000
7        01003  171769.000000  2007   1003.0   67.150000
8        01003  171769.000000  2007   1003.0   67.150000
9        01003  174439.000000  2008   1003.0   66.220000
10       01003  174439.000000  2008   1003.0   66.220000
11       01003  174439.000000  2008   1003.0   66.220000
12       01003  179878.000000  2009   1003.0   65.290000
13       01003  179878.000000  2009   1003.0   65.290000
14       01003  179878.000000  2009   1003.0   65.290000
15       01003  183195.000000  2010   1003.0   64.360000
16       01003  183195.000000  2010   1003.0   64.360000
17       01003  183195.000000  2010   1003.0   64.360000
18       01003  186717.000000  2011      NaN         NaN
19       01003  190790.000000  2012      NaN         NaN
20       01003  195540.000000  2013      NaN         NaN
21       01003  200111.000000  2014      NaN         NaN
22       01003  203709.000000  2015      NaN         NaN
23       01003  207865.363636  2016   1003.0   88.703000
24       01003  207865.363636  2016   1003.0   88.703000
25       01003  207865.363636  2016   1003.0   88.703000
26       01003  211969.227273  2017   1003.0   91.676000
27       01003  211969.227273  2017   1003.0   91.676000
28       01003  211969.227273  2017   1003.0   91.676000
29       01003  216073.090909  2018   1003.0   94.649000
...        ...            ...   ...      ...         ...
299402   56025   84220.618182  2016  56025.0  112.935333
299403   56025   84220.618182  2016  56025.0  112.935333
299404   56025   84220.618182  2016  56025.0  112.935333
299405   56025   85632.236364  2017  56025.0  107.487333
299406   56025   85632.236364  2017  56025.0  107.487333
299407   56025   85632.236364  2017  56025.0  107.487333
299408   56025   87043.854545  2018  56025.0  102.039333
299409   56025   87043.854545  2018  56025.0  102.039333
299410   56025   87043.854545  2018  56025.0  102.039333
299411   56025   88455.472727  2019  56025.0   96.591333
299412   56025   88455.472727  2019  56025.0   96.591333
299413   56025   88455.472727  2019  56025.0   96.591333
299414   56025   89867.090909  2020  56025.0   91.143333
299415   56025   89867.090909  2020  56025.0   91.143333
299416   56025   89867.090909  2020  56025.0   91.143333
299417   56025   91278.709091  2021  56025.0   85.695333
299418   56025   91278.709091  2021  56025.0   85.695333
299419   56025   91278.709091  2021  56025.0   85.695333
299420   56025   92690.327273  2022  56025.0   80.247333
299421   56025   92690.327273  2022  56025.0   80.247333
299422   56025   92690.327273  2022  56025.0   80.247333
299423   56025   94101.945455  2023  56025.0   74.799333
299424   56025   94101.945455  2023  56025.0   74.799333
299425   56025   94101.945455  2023  56025.0   74.799333
299426   56025   95513.563636  2024  56025.0   69.351333
299427   56025   95513.563636  2024  56025.0   69.351333
299428   56025   95513.563636  2024  56025.0   69.351333
299429   56025   96925.181818  2025  56025.0   63.903333
299430   56025   96925.181818  2025  56025.0   63.903333
299431   56025   96925.181818  2025  56025.0   63.903333

[299432 rows x 5 columns]